.mainAbout {
    background-color: #9e9e9e;
    padding-bottom: 5em;
}
.aboutHead {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.aboutCols h3 {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 2em;
}
.aboutCols p {
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 1px;
    margin-bottom: 2em;
}
.aboutCols ul li {
    display: block;
    letter-spacing: 1px;
    padding: 20px 0 0px 50px;
}
.aboutList h3 {
    padding-left: 2em;
}