.footer {
    background-color: #3c3c3c;
    height: auto;
    overflow: hidden;
    margin: 0 -50px;
    margin-top: -10em;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    transform: rotate(0deg);
}
#map {
    width: 100%;
    height: 250px;
    background-color: grey;
    margin-top: 1em;
    margin-bottom: 1em;
}
.footCont {
    text-align: right;
}
.footCont span {
    color: #1dcb8b;
}
.footCont h3 {
    color: #1dcb8b;
}
.followFoot h3 {
    text-align: center;
    color: #1dcb8b;
}
.followFoot ul {
    text-align: center;
}
.footer-bottom {
    padding: 1em 0;
    text-align: center;
}