.bg_wallpaper {
    background-color: #279d8b;
    width: 100%;
    height: auto;
    min-height: 20vh;
    padding: 10px 100px 10px 100px;
}

.bg_wallpaper h3 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 2em;
    margin-bottom: 2em;
    transform: rotate(4deg);
}

.mainFunc {
    padding-bottom: 8em;
}

.aboutX {
    overflow: hidden;
    margin: 0 -50px;
    /*margin-top: -10vh;*/
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    transform: rotate(-4deg);
}

.img-responsive {
    float: right;
    display: block;
    max-width: 100%;
    height: auto;
}

.func_img {
    padding-right: 0;
}

.func_h2 {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    color: #303030;
    padding-top: 110px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.func_h1 {
    font-size: 55px;
    line-height: 70px;
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
    color: #303030;
    letter-spacing: 1px;
    background-image: url("../images/bg_plusy.jpg");
    background-size: cover;
}

.func_h1 span {
    color: #e98457
}

#curveDownColor {
    fill: #fff
}

.func_h1_2 {
    font-size: 45px;
    line-height: 70px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #303030;
    letter-spacing: 1px;
}

.func_h1_2 span {
    font-size: 30px;
}

.func_h2_2 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 60px;
    color: #303030;
    letter-spacing: 2px;
    border-bottom: solid #e98457 auto;
}

.func_h2_2 span {
    border-bottom: solid #1dcb8b 2px;
}

/* media ******************* */

@media only screen and (max-width: 375px) {
    .func_h1 {
        font-size: 23px;
    }

    .func_h1_2 span {
        font-size: 18px;
    }

    .func_h1_2 {
        font-size: 23px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
    .func_h1 {
        font-size: 25px;
    }

    .func_h1_2 span {
        font-size: 20px;
    }

    .func_h1_2 {
        font-size: 25px;
    }
}