html, body{
    margin:0;
    color: #ffffff;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

.mainHome {
    width: 100%;
    height: 100vh;
    background-image: url('../images/1.jpg');
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}

/*.homeHeader {*/
    /*padding: 1em 2.5em 0;*/
/*}*/

/* navbar style*/
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
    float: right;
    margin-top: 2.5em;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 17px;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav li a.active {
    color: #1dcb8b;
    background: none!important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* banner & slider  style */
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li{
    position: relative;
    display: block;
    float: left;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom:-10%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
    display:block;
}
.callbacks_nav:hover{
    opacity: 0.5;
}
.callbacks_nav.next {
    background: transparent url("../images/up.png") no-repeat 0px 0px;
    left: auto;
    left: 4%;
}
.callbacks_nav.prev {
    background: transparent url("../images/down.png") no-repeat 0px 0px;
    left: 0%;
}
.callbacks_nav.next, .callbacks_nav.prev {
    background-size: 22px;
    width: 22px;
    height: 22px;
}

.bannerStyle {
    width: 53%;
}

.bannerStyle h4 {
    font-size: 2rem;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 4em;
}

/*-- social-icons --*/
.mainSocial {
    float: right;
    margin: 5em 4em 0em 0em;
}

.social-icons li{
    display:inline-block;
}
.social-icons li a{
    /*background: url(../images/social-icons.png) no-repeat 2px 2px;*/
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 1.2em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.social-icons li a:before {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    transition:.5s all;
}
.social-icons li a.fb{
    background-image: url("../images/facebook.png");
    background-position: center;
    background-repeat: no-repeat;
}
.social-icons li a.in{
    background-image: url("../images/linkedin.png");
    background-position: center;
    background-repeat: no-repeat;
}
.social-icons li a.gplus {
    background-image: url("../images/google-plus.png");
    background-position: center;
    background-repeat: no-repeat;
}
.social-icons li a.twit {
    background-image: url("../images/twitter.png");
    background-position: center;
    background-repeat: no-repeat;
}
.social-icons li a:hover::before {
    border-color: #1dcb8b;
    -webkit-transform: rotatey(-393deg);
    -moz-transform: rotatey(-393deg);
    -o-transform: rotatey(-393deg);
    -ms-transform: rotatey(-393deg);
    transform: rotatey(-393deg);
}
/*-- //social-icons --*/

.btn-normal {
    padding: 8px 20px;
    background: #1dcb8b;
    border: 2px solid #1dcb8b;
    color: #fff;
    text-decoration: none;
    float: left;
    margin: 3em 0 0 0;
    font-size: 16px;
    text-transform: capitalize;
}
.btn-normal:hover {
    color: #fff;
    text-decoration: none!important;
    outline:none!important;
    background:transparent;
    border-color:#fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}