html, body{
    margin:0;
    color: #ffffff;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}

.mainHome {
    width: 100%;
    height: 100vh;
    background-image: url('../images/1.jpg');
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}

.homeHeader {
    padding: 1em 2.5em 0;
}

/* navbar style*/
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
    float: right;
    margin-top: 2.5em;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 17px;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav li a.active {
    color: #1dcb8b;
    background: none!important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* banner & slider  style */
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li{
    position: relative;
    display: block;
    float: left;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom:-54%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
    display:block;
}
.callbacks_nav:hover{
    opacity: 0.5;
}
.callbacks_nav.next {
    background: transparent url("../images/up.png") no-repeat 0px 0px;
    left: auto;
    left: 4%;
}
.callbacks_nav.prev {
    background: transparent url("../images/down.png") no-repeat 0px 0px;
    left: 0%;
}
.callbacks_nav.next, .callbacks_nav.prev {
    background-size: 22px;
    width: 22px;
    height: 22px;
}
