.mainServ {
    background-color: #9e9e9e;
}
.mainServ h3 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.mainServ h4 {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
}
.icoBorder {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    float: left;
    border-radius: 100%;
    border: 1px solid #DBE4E8;
    box-shadow: 0 0 6px 1px #F1E3E3;
}
.icoSet {
    display: block;
    margin: 18px auto;
    position: relative;
}
.textServ {
    display: block;
    font-size: 15px;
    margin-left: 110px;
}